.projectWrap {
  display: flex;
  flex-flow: column;
  width: 100%;

  margin: 30px 0;
}
.projectHeader {
  display: flex;
  width: 100%;
  padding: 20px 100px;
  align-items: center;
  justify-content: space-between;
}
.leftWrap p {
  color: #4f419a;
  margin: 0;
}
.rightWrap {
  display: flex;
  gap: 20px;
}
.seoPara {
  color: #646464;
}
.sliderWraps {
  display: flex;
  gap: 20px;
  flex-flow: column;
  margin: 40px 100px;
}
.sliderWrap {
  display: flex;
  flex-flow: column;
  gap: 20px;
  flex-flow: column;
  margin: 20px 100px;
}
.categoryBar {
  display: flex;
  padding: 0px 0 40px 0px;
}
.categoryWrap {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 20px;
}
.span {
  padding: 5px 15px;
  width: max-content;
  text-align: left;
  display: flex;
  border-radius: 4px;
  justify-content: space-between;
  background-color: white;
  border: 1px solid #646464;
}
.spanActive {
  padding: 5px 10px;
  width: max-content;
  background-color: white;
  border: 1px solid #f18350;
  display: flex;
  color: #f18350;
  border-radius: 4px;
  justify-content: space-between;
}
/* .categoryWrap span:nth-child(1) {
  border-radius: 7px 0px 0px 7px;
}
.categoryWrap span:nth-child(6) {
  border-radius: 0px 7px 7px 0px;
} */
.ReviewBox {
  display: flex;
  flex-flow: column;
  background-color: white;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 40px;
  height: 360px !important;
  gap: 20px;
  margin-left: 1px;
  box-shadow: rgba(94, 94, 94, 0.241) 0px 1px 4px;
  justify-content: flex-start;
}
.header {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 110px;
  gap: 10px;
  padding: 5px 30px;
  background-color: #ffece4;
  align-items: flex-start;
  justify-content: center;
}
.body {
  padding: 0px 30px;
  display: flex;
  flex-flow: column;
  gap: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
}
.header h3 {
  font-size: 20px;
  margin: 0;
  font-weight: 600;
  text-align: left;
  color: #f18350;
}
.desc {
  text-align: left;
}
.desc p {
  width: 95%;
  color: #646464;
  margin: 0;
}
.tools {
  width: 100%;
  gap: 10px;
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: #f18350;
}
.react {
  color: #4f419a;
  background: white;
  font-size: 33px;
  border-radius: 4px;
  padding: 5px;
}
.mongo,
.node {
  color: green;
  background: white;
  font-size: 33px;
  border-radius: 4px;
  padding: 5px;
}
.seoPara {
  margin: 0px 100px;

  padding-bottom: 15px;
}

@media (max-width: 1281px) {
  .projectHeader {
    padding: 40px 60px;
  }
  .sliderWraps {
    margin: 40px 80px;
  }

  .header h3 {
    font-size: 18px;
  }
  .sliderWrap {
    margin: 40px 80px;
  }
  .seoPara {
    margin: 0 60px;
  }
  .desc p {
    font-size: 14px;
  }
  .ReviewBox {
    height: 380px !important;
  }
  .categoryBar {
    padding: 0px 0px 30px 0px;
  }
}
@media (max-width: 1024px) {
  .categoryWrap span:nth-child(7) {
    border-radius: 0px;
  }
  .sliderWrap {
    margin: 40px;
  }
  .sliderWraps {
    margin: 40px 60px;
  }
  .sliderWrap {
    grid-template-columns: 18% 80%;
  }

  .projectHeader {
    width: 100%;
    margin: 0;
    padding: 40px;
  }
  .seoPara {
    margin: 0 40px;
  }
}
@media (max-width: 1239px) {
  .desc p {
    width: 95%;
  }
}
@media (max-width: 801px) {
  .line {
    padding: 10px 40px;
  }
  .sliderWrap {
    grid-template-columns: 20% 78%;
  }
  .sliderWraps {
    flex-flow: column;
    margin: 40px;
  }
  .iconBox {
    width: 120px;
  }
  .iconBox p {
    font-size: 22px;
  }
  .span {
    font-size: 14px;
  }
  .spanActive {
    font-size: 14px;
  }
  .sliderWrap {
    margin: 30px;
  }
}
@media (max-width: 641px) {
  .span {
    font-size: 14px;
    padding: 6px 6px;
    align-items: center;
  }
  .projectHeader {
    padding: 0px 20px;
  }
  .categoryBar {
    padding: 0 0 20px 0;
  }
  .spanActive {
    padding: 6px;
    align-items: center;
  }
  .sliderWrap {
    display: flex;
    flex-flow: column;
  }
  .categoryWrap {
    display: flex;
    flex-flow: row;
  }
}

@media (max-width: 481px) {
  .projectWrap {
    margin-top: -20px;
  }
  .body {
    padding: 0 10px;
  }
  .header {
    padding: 5px 10px;
  }
  .seoPara {
    margin: 0 20px;
  }
  .projectHeader {
    padding: 20px 20px 0px 20px;
    flex-flow: column;
  }
  .sliderWraps {
    flex-flow: column;
    margin: 20px;
  }
  .projectWrap h4 {
    text-align: center;
    width: max-content;
  }
  .sliderWrap {
    margin: 20px 20px 40px 20px;
  }
  .leftWrap {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .leftWrap h2 {
    font-size: 32px !important;
    text-align: center;
    margin-bottom: 0px;
  }
  .iconBox {
    width: 130px;
  }
  .categoryBar {
    overflow-x: scroll;
  }
  .line {
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-flow: column;
  }
  .line div {
    width: 230px;
    display: flex;
    justify-content: flex-start;
  }
  .line div p {
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: 28% 70%;
  }
  .header h3 {
    font-size: 17px;
  }
  .ReviewBox {
    height: 350px !important;
    border-radius: 8px;

    background-color: white;
    justify-content: flex-start;
  }
  .desc p {
    width: 100%;
    font-size: 14px;
  }
  .categoryBar {
    width: 100%;
    overflow: scroll;
  }
  .categoryWrap {
    width: 100%;
    overflow: scroll;
  }
  .span {
    font-size: 14px;
    padding: 8px 17px;
  }
  .spanActive {
    font-size: 14px;
    padding: 8px 17px;
  }
}
