@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
  scroll-behavior: smooth;
}
.element::-webkit-scrollbar {
  width: 0 !important;
}

:root {
  --swiper-theme-color: #4f419a !important;
}
.hideScroll::-webkit-scrollbar {
  display: none;
}
a {
  color: inherit;
  text-decoration: none;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;

  color: #646464;
}
h4,
h2 {
  font-weight: 700;
  font-size: 37px;
  line-height: 43px;
  margin: 0;
  color: #000000;
}
* {
  box-sizing: border-box;
}
.wrapperHeading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapperHeading hr {
  min-width: 100px;
  width: 214px;
  height: 0;
  background-color: #e2e2e2;
  border: 1.5px solid #e2e2e2;
  margin: 0;
}

.wrapperHeading h4 {
  margin: 21px;
}

.slideAnimation {
  animation: scrollAnimation 16s linear infinite;
}
/* @keyframes scrollAnimation {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(-40%);
  }
} */
@keyframes scrollAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.bgWrap {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}
button {
  padding: 15px 20px;
  outline: none;
  background-color: #4f419a;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 0;
  cursor: pointer;
  font-weight: 600;
  width: max-content;
  display: flex;
  align-items: center;
  border-radius: 4px;
  font-size: 16px;
}

.bIcon {
  font-size: 18px;
  margin-right: 5px;
  color: #4f419a;
}
.bIcons {
  font-size: 22px;
  margin-right: 5px;
  color: white;
}
.pTop {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  width: max-content;
  border-radius: 3px;
  padding: 3px 7px;
  background-color: #ded9ff;
  margin-bottom: 10px;
  color: #4f419a;
}

.pBot {
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  margin-bottom: 15px;
  line-height: 26px;
  color: #676767;
}
.pBotS {
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  margin-bottom: 15px;
  line-height: 26px;
  color: #646464;
}

.swiper {
  width: 100%;
  height: 100%;
}
.mmOpacity {
  opacity: 0.5;
}
/* .swiper-slide:not(.swiper-slide-active) {
  opacity: 0.5;
} */
.swiper-slide-next {
  opacity: 1;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* .swiper-slide img {
  display: block;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.popupModal {
  display: grid;
  grid-template-columns: 49% 49%;
  background-color: white;
}
.leftPopup p {
  margin: 0;
  font-size: 24px;
  color: #000000;
  text-align: center;
}

.leftPopup h5 {
  margin: 0;
  color: #4f419a;
  font-size: 29px;
  text-align: center;
}
.RightPopup {
  display: flex;
  flex-flow: column;
  background-color: white;
  margin-left: 40px;
  border-radius: 10px;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.RightPopup p {
  text-align: center;
}
.whiteP {
  background-color: transparent;
  height: 450px;
  width: 550px;
}
.RightPopup h5 {
  font-size: 24px;
  text-align: left;
  font-weight: 600;
  text-align: center;
  margin: 0;
  padding: 0;
}
.RightPopup p {
  font-size: 18px;
  margin: 0;
  margin-bottom: 10px;
  color: rgb(143, 143, 143);
}
.PricePopup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.PriceH {
  font-size: 22px;
  color: rgb(79, 79, 79);
  font-weight: 600;
}
.leftP,
.rightP {
  display: flex;
  flex-flow: column;
  gap: 10px;
  background-color: #e7f4ff;
  padding: 10px;
  border-radius: 12px;
}
.rightP {
  margin-top: -30px;
  margin-left: -20px;
}
.divWrapper {
  display: none;
}
.FlDiv {
  display: none;
}
.show-counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.show-counter p {
  display: flex;
  font-weight: 600;
}
.countdown {
  display: flex;
  align-items: center;
}
.countdown p {
  font-size: 25px;
  font-weight: 600;
  margin-right: 5px;
}
.countdown span {
  margin-top: 5px;
  margin-right: 5px;
}
.megaMenu {
  position: absolute;
  width: 100%;
  height: 390px;
  top: 67px;
  left: 0;
  z-index: 9999999;
  background: #f8f6ff;
  border-radius: 0px 12px 12px 0px;
  box-shadow: 0px 18px 20px -2px rgba(4, 135, 217, 0.1);
}
.notFound {
  margin-top: 80px;
  display: flex;
  gap: 180px;
  align-items: center;
  justify-content: center;
}

.notFound p {
  color: #484848;
  text-align: center;
  margin: 0;
}
.notFound div {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.notFound h4 {
  margin: 0;
  margin-top: 40px;
  color: #f28705;
  text-align: center;
  margin-bottom: 40px;
  font-size: 177px;
}
.notFound h5 {
  color: #484848;
  font-size: 37px;
  margin: 0;
  text-align: center;
}
.notFound button {
  padding: 15px 25px;
  display: flex;
  margin: auto;
  font-weight: 500;
  align-items: center;
}
.notFound button:hover {
  background-color: #f28705;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
/**new loader**/
.center {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}
.wave {
  width: 5px;
  height: 40px;
  background: linear-gradient(45deg, #fff5e8, #f28705);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
/* --------------------loader animation --------------------*/
.lds-dual-ring {
  display: inline-block;
  width: 40%;
  border-radius: 4px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 24px;
  height: 24px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #4f419a transparent #4f419a transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* --------------------loader animation --------------------*/
/* --------------------three dot animation --------------------*/
.three-body {
  margin: 20px;
  --uib-size: 35px;
  --uib-speed: 0.8s;
  --uib-color: #5d3fd3;
  position: relative;
  display: inline-block;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three-body__dot {
  position: absolute;
  height: 100%;
  width: 30%;
}

.three-body__dot:after {
  content: "";
  position: absolute;
  height: 0%;
  width: 100%;
  padding-bottom: 100%;
  background-color: var(--uib-color);
  border-radius: 50%;
}

.three-body__dot:nth-child(1) {
  bottom: 5%;
  left: 0;
  transform: rotate(60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite ease-in-out;
  animation-delay: calc(var(--uib-speed) * -0.3);
}

.three-body__dot:nth-child(2) {
  bottom: 5%;
  right: 0;
  transform: rotate(-60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(2)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite calc(var(--uib-speed) * -0.15)
    ease-in-out;
}

.three-body__dot:nth-child(3) {
  bottom: -5%;
  left: 0;
  transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
  top: 0;
  left: 0;
  animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin78236 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes wobble1 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(-66%) scale(0.65);
    opacity: 0.8;
  }
}

@keyframes wobble2 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(66%) scale(0.65);
    opacity: 0.8;
  }
}
/* --------------------three dot animation --------------------*/

@media (max-width: 1281px) {
  .whiteP {
    background-color: transparent;
    height: 450px;
    width: 320px;
  }
  .RightPopup {
    padding: 10px 0px;
    border-radius: 10px;
  }
  .RightPopup h5 {
    font-size: 18px;
  }
  .RightPopup p {
    margin-bottom: 5px;
  }
  h4,
  h2 {
    font-size: 27px;
  }
  .wrapperHeading hr {
    min-width: 100px;
    width: 214px;
    height: 0;
    background-color: #e2e2e2;
    border: 1.5px solid #e2e2e2;
    margin: 0;
  }
  .pBot {
    font-size: 16px;
  }
  .wrapperHeading h4 {
    margin: 21px;
    font-size: 27px;
    text-align: center;
  }
}
@media (max-width: 1100px) {
  .whiteP {
    background-color: transparent;
    height: 450px;
    width: 400px;
  }
}
@media (max-width: 961px) {
  .popupModal {
    display: flex;
  }
  h4,
  h2 {
    font-size: 25px;
    line-height: 28px;
  }
  .leftPopup {
    display: none;
  }
  .RightPopup {
    margin-left: 0;
  }
  .pTop {
    font-size: 14px;
  }
  .pBot {
    font-size: 16px;
  }
  .bIcons {
    font-size: 18px;
  }
}
@media (max-width: 801px) {
  h4 {
    font-size: 24px;
  }
  .wrapperHeading h4 {
    font-size: 24px;
  }
  .grid-col {
    grid-template-columns: 43% 16% 16% 19%;
  }
}
@media (max-width: 641px) {
  h4,
  h2 {
    font-size: 22px;
  }
  .wrapperHeading h4 {
    font-size: 24px;
  }
  .wrapperHeading hr {
    min-width: 100px;
    width: 134px;
    height: 0;
    background-color: #e2e2e2;
    border: 1.5px solid #e2e2e2;
    margin: 0;
  }
}
@media (max-width: 481px) {
  h4,
  h2 {
    font-size: 26px;
    margin: 0;
    color: rgb(61, 61, 61);
    padding: 0;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .pTop {
    font-size: 14px;
  }
  .pBot {
    font-size: 16px;
  }
  .wrapperHeading h4 {
    font-size: 20px;
    margin: 10px;
  }
  .wrapperHeading hr {
    width: 75px;
    min-width: 75px;
  }
  h5 {
    font-size: 30px;
    margin: 0;
    color: rgb(61, 61, 61);
    padding: 0;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .leftPopup {
    display: none;
  }
  .RightPopup {
    display: flex;
    flex-flow: column;
    margin-left: 0;
    gap: 10px;
  }

  .RightPopup h5 {
    margin-top: 10px;
    font-size: 22px;
    text-align: left;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }
  .RightPopup p {
    font-size: 16px;
    color: rgb(143, 143, 143);
  }
  .divWrapper {
    display: flex;
    position: relative;
    width: 100vw;
  }
  .WrapperDiv {
    display: flex;
    flex-flow: column;
  }

  .FlDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 12px 12px 0px 0px;
    border-top: 1px solid rgba(98, 98, 98, 0.125);
    height: 60px;
    width: 100vw;
    left: 0;
    position: fixed;
    bottom: 0;
    z-index: 999;
  }
  .FlDiv div {
    display: flex;
    align-items: center;
  }
  .flDivLeft {
    border-right: 2px solid #4f419a;
    padding-right: 10px;
    margin: 0;
  }
  .countdown p {
    font-size: 18px;
  }
  .countdown span {
    margin-top: 0;
  }
  .megaMenu {
    height: 100vh;
  }
  .bIcon {
    font-size: 16px;
    margin-right: 5px;
    color: #4f419a;
  }
  button {
    gap: 5px;
  }
  .notFound {
    flex-flow: column;
  }
  .notFound h4 {
    font-size: 57px;
  }
  .notFound h5 {
    font-size: 30px;
  }
  .gridBox {
    padding: 10px;
    grid-template-columns: 26% 18% 18% 18%;
  }
}
