.OfferPopup {
  position: fixed;

  background-image: url("https://skillslash-cdn.s3.ap-south-1.amazonaws.com/static/web/software_pattern__.webp");
  /* backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%); */
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 12px 12px 0px 0px;
  box-shadow: rgba(13, 75, 155, 0.4) 0px 10px 50px;
  z-index: 9999;
  height: 390px;
  width: 350px;
  padding: 20px;
  bottom: 0;
  left: 15px;
}
.OfferPopupCus {
  position: fixed;

  background-image: url("https://skillslash-cdn.s3.ap-south-1.amazonaws.com/static/web/software_pattern__.webp");
  /* backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%); */
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 12px 12px 0px 0px;
  box-shadow: rgba(13, 75, 155, 0.4) 0px 10px 50px;
  z-index: 9999;
  height: max-content;
  width: max-content;
  max-width: 100vw;
  padding: 20px;
  bottom: 0;
  left: 15px;
}
.hurry {
  font-size: 18px;
}
.Offer {
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  flex-flow: column;
  justify-content: center;
}
.Offer h6 {
  font-size: 22px;
  margin: 0;
}
.Offer p {
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
}
.Offer button {
  width: max-content;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Icon {
  position: absolute;
  font-size: 20px;
  color: #4f419a;
  top: 5px;
  right: 10px;
  cursor: pointer;
}
.hide {
  display: none;
}
.faded {
  color: rgb(201, 201, 201);
}
@media (max-width: 481px) {
  .OfferPopup {
    width: 90%;
  }
  .OfferPopupCus {
    width: 99%;
    left: 2px;
    height: 450px;
    padding: 20px 10px;
  }
  .Offer h6 {
    font-size: 18px;
    margin: 0;
  }
  .Offer button {
    width: 100%;
    padding: 15px 10px;
    font-size: 14px;
    font-weight: 500;
  }
}
