.priceWrap {
  display: grid;
  grid-template-columns: 60% 60% 60%;
  gap: 5px;
  padding: 20px;
  align-items: center;
  overflow-x: scroll;
  justify-content: flex-start;
}
.heading {
  text-align: center;
}
.priceBox {
  display: flex;
  flex-flow: column;
  border-radius: 16px;
  border: 1px solid #c7c7c7;
}
.priceBox:nth-child(1) {
  border: 1px solid #4f419a;
}
.priceBox:nth-child(1) .priceHeader {
  background-color: #4f419a;
}
.priceBox:nth-child(1) .priceHeader h3 {
  color: white;
}
.priceHeader {
  background-color: #c7c7c7;
  border-radius: 16px 16px 0 0;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.priceHeader h3 {
  font-size: 18px;
  font-weight: 600;
  color: black;
}
.priceContent {
  display: flex;
  flex-flow: column;
  padding: 5px;
  gap: 5px;
}
.priceRow {
  display: grid;
  align-items: center;
  grid-template-columns: 65% 35%;
}
.priceRow p {
  font-size: 14px;
}
.priceRow p:first-of-type {
  font-size: 12px;
  font-weight: 600;
  color: black;
}

@media (min-width: 641px) {
  .priceWrap {
    display: none;
  }
}
