.nav {
  width: 100%;
  scroll-behavior: smooth;
  font-size: 14px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: white;
  height: 70px;
  top: 00px;
  padding: 0px 50px;
  display: flex;
  z-index: 999;
  position: fixed;
  align-items: center;
  justify-content: space-between;
}
.mLearn {
  display: none !important;
}
.mbtn {
  display: none !important;
}
.bIcon {
  font-size: 20px;
  margin-left: 5px;
}
.left {
  display: flex;
  align-items: center;

  gap: 30px;
}
.ham {
  display: inline;
  justify-self: flex-start;
  color: #4f419a;
  cursor: pointer;
  font-size: 28px;
  margin-right: 10px;
  margin-left: 5px;
  margin-top: -5px;
}
.TopBar {
  width: 100vw;
  scroll-behavior: smooth;
  font-size: 16px;
  position: fixed;
  top: 0px;
  text-align: center;
  z-index: 999;
  background-color: black;
  color: white;
  height: max-content;
  padding: 5px 50px;
  display: none;
  align-items: center;
  justify-content: center;
}
.right {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}
.right span {
  margin-right: 30px;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 10px;
  margin: 0px 10px;
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
  font-weight: 500;
}
.right span:hover {
  background-color: #4f419a;
  color: white;
}
.right span::before {
  content: "";
  position: absolute;
  bottom: 12px;
  left: 12px;
  width: 12px;
  height: 12px;
  border: 3px solid #4f419a;
  border-width: 0 0 3px 3px;
  opacity: 0;
  transition: all 0.3s;
}
.right span:hover::before {
  opacity: 1;
  bottom: -8px;
  left: -8px;
}
.right span::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 12px;
  width: 12px;
  height: 12px;
  border: 3px solid #4f419a;
  border-width: 3px 3px 0 0;
  opacity: 0;
  transition: all 0.3s;
}
.right span:hover::after {
  opacity: 1;
  top: -8px;
  right: -8px;
}

.hide {
  display: none;
}
.ham {
  display: none;
}
.MegaBtn {
  padding: 12px 25px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
/* .right button {
  padding: 12px 25px;
  font-size: 16px;

  font-weight: 500;
}
.right button:hover {
  background-color: #f28705;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} */
.right button {
  position: relative;
  transform: translate(-1%, -1%);
  padding: 8px 20px;
  text-decoration: none;
  color: #fff;
  background: #4f419a;
  border: none;
  font-size: 16px;
}

.right button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.226);
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: bottom right;
  transform: scale(0);
}

.right button:hover:before {
  transition: transform 0.5s;
  transform-origin: top left;
  transform: scale(1);
}

.right button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid #c4b9ff;
  border-radius: 4px;
  box-sizing: border-box;
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: bottom right;
  transform: scale(1);
}

.right button:hover:after {
  transition: transform 0.5s;
  transform-origin: top left;
  transform: scale(0);
}

.white {
  background-color: transparent;
  height: 500px;
  width: 500px;
}
@media (max-width: 1281px) {
  .nav {
    padding: 0 20px;
    gap: 20px;
  }
  .mbtn {
    display: none !important;
  }
  .left {
    gap: 10px;
  }

  .left button {
    flex-basis: 45%;
    padding: 8px 10px;
    font-size: 14px;
    gap: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .right {
    gap: 5px;
  }
  .right span {
    margin-right: 15px;
    font-size: 14px;
  }
  .right button {
    padding: 12px 16px;
    gap: 5px;
  }
}
@media (max-width: 1024px) {
  .right button {
    padding: 9px 10px;
    font-size: 14px;
  }
}
@media (max-width: 961px) {
  .left {
    width: 100%;
    display: flex;
    margin-right: 10px;
  }
  .left button {
    width: max-content;
    font-size: 16px;

    flex-basis: auto;
  }
  .ham {
    display: inline;
    justify-self: flex-start;
    color: #4f419a;
    /*cursor: pointer;*/
    font-size: 24px;
    margin-right: 10px;
    margin-left: 5px;
    margin-top: -5px;
  }
  .mobileWrapper .mobileMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 70px;
    left: 0;
    margin: auto;
    width: 99vw;
    /*height: max-content;*/
    height: 100%;
    border-radius: 0 5px 5px 0;
    background-color: white;
    flex-flow: column;
    position: absolute;
    z-index: 999;
    animation: navAnimation 1500ms ease forwards;
    transform: rotateY(90deg);
    opacity: 0;
    transform-origin: left;
  }
  .mobileWrapper .mobileMenu a {
    text-decoration: none;
  }
  .mobileWrapper .mobileMenu span {
    font-size: 1.2rem;
    padding: 20px;
    padding-left: 3rem;
    font-size: 18px;
    font-weight: 500;
    /*cursor: pointer;*/
    width: 100%;
    text-align: left;
    border-bottom: 0.2px solid #e6e6fa;
    /*color: #4f419a;
    background-color: #ebf1f8;*/
    color: #565656;
    background-color: white;
    box-shadow: -2rem 2rem 5rem rgba(0, 0, 0, 0.2);
  }
  .mobileWrapper .mobileMenu span:nth-child(1) {
    animation-delay: 300ms;
  }
  .mobileWrapper .mobileMenu span:nth-child(2) {
    animation-delay: 300ms;
  }
  .mobileWrapper .mobileMenu span:nth-child(3) {
    animation-delay: 300ms;
  }
  .mobileWrapper .mobileMenu span:nth-child(4) {
    animation-delay: 300ms;
  }
  @keyframes navAnimation {
    to {
      transform: rotateX(0);
      opacity: 1;
    }
  }
  /*.mobileWrapper .mobileMenu span:hover {
    color: #4f419a;
    background-color: #ebf1f8;
  }*/
  .right {
    display: none;
  }
}
@media (max-width: 641px) {
  .nav {
    position: fixed;
  }
}
@media (max-width: 481px) {
  .nav {
    width: 100vw;
    scroll-behavior: smooth;
    font-size: 14px;
    position: fixed;
    top: 00px;
    z-index: 999;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    height: 60px;
    padding: 0px 10px;
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
  }
  .TopBar {
    width: 100vw;
    scroll-behavior: smooth;
    font-size: 14px;
    position: fixed;
    top: 60px;
    z-index: 999;
    text-align: center;
    background: #e8e4ff;
    /* background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(239, 239, 255, 1) 8%,
      rgba(239, 239, 255, 1) 48%,
      rgba(239, 239, 255, 1) 91%,
      rgba(0, 0, 0, 1) 100%
    ); */
    color: #4f419a;
    height: 20px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
  }
  .mLearn {
    display: flex !important;
  }
  .left button {
    padding: 8px 10px;
    outline: none;
    background-color: #4f419a;
    color: white;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 4px;
    font-size: 12px;
  }
  .left button:hover {
    background-color: #f7f9fc;
    color: #4f419a;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  .right {
    display: none;
  }
  .right span {
    display: none;
  }

  .right button {
    padding: 8px 10px;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    font-size: 14px;
  }

  .white {
    background-color: transparent;
    height: 600px;
    width: 500px;
  }
  .mbtn {
    display: flex !important;
  }

  .mobileWrapper .mobileMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 60px;
    left: 0;
    margin: auto;
    width: 100vw;

    height: max-content;
    border-radius: 0 0px 5px 5px;
    background-color: white;
    flex-flow: column;
    position: absolute;
    z-index: 999;
  }
  .mobileWrapper .mobileMenu a {
    text-decoration: none;
  }
  .mobileWrapper .mobileMenu span {
    font-size: 15px;
    /*padding: 20px;*/
    font-weight: 500;
    /*cursor: pointer;*/
    width: 100%;
    text-align: left;
    padding-left: 3rem;
    color: #565656;
    background-color: white;
    box-shadow: -2rem 2rem 5rem rgba(0, 0, 0, 0.2);
    border-bottom: 0.2px solid #e6e6fa;
    /*color: #4f419a;
    background-color: #ebf1f8;*/
  }
  /*.mobileWrapper .mobileMenu span:hover {
    color: #4f419a;
    background-color: #ebf1f8;
    
  }*/
  .MegaBtn {
    display: none !important;
  }
}
